<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet> -->
<br>
<div class="row">
    <div class="col-2">
     <button class="btn"> model</button>
     <button class="btn"> dataset</button>
    </div>
    <div class="col-10"><div class="geEditor" #graphContainer id="graphContainer">
    </div>
  </div>
</div>
<!-- https://bitbucket.org/lgleim/mxgraph2/src/master/javascript/src/js/view/ -->
